**/out
keystat/__pycache__
keystat/build
keystat/layout
heatmap.png
keystat/.cache/clangd/index
keystat/top_keys.png
python/arxivgetter/links.txt
python/translatemerge/source_pdfs
python/translatemerge/in.pdf
python/translatemerge/papers.pdf
